<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminStyle.css') }}">
    <title>Login as Server</title>
</head>
<body>
    <div class="FormContent">
        {% if flag %}
            <span style="color: white; background-color: rgb(253, 91, 91); padding: 5px; width:100% ;text-align: center;">Invalid credentials provided</span>
        {% endif %}
        <h1>Login as Server.</h1>
        <form action="#" method="post">
            <input type="email" name="Serveremail" id="Serveremail" placeholder="Email" required><br><br>
            <input type="password" name="Serverpassword" id="Serverpassword" placeholder="Password" required><br><br>
            <input type="submit" value="LOGIN">
        </form>
        <p style="color: red; margin-top: 15px;text-align: center;margin-bottom: 15px;">OR</p>
        <a href="{{ url_for('serverSignup') }}"> <button style="color: white;">SIGN UP</button></a>
    </div>
</body>
</html>